#pie { 
  margin: 0 auto;
  text-align: center;
  width: 700px;
}
body {
    background: #FFF;
    color: #222;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
h1 {
  color: #535353;
  font-size:43px;
  margin-left: 90px;
}
h2 {
  color: #6C6C6C;
  font-size: 18px;
  margin-left: 90px;
}
p { 
  margin-left: 90px;
}
h1,h2,p,li {
  font-family: 'Quattrocento Sans', sans-serif;
}
footer {
}
/* charting */
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
  }
.well { 
  padding: 50px 0px;
  background: #F4F6F1;
}
h3 {
  font-size: 32px;
  color: #666;
  margin-left: 90px;
  font-weight: 500;
}
#chartWrapper {
  position:relative;
  margin: 0 0;
  padding: 0 0px;
  background: #CBD5BF;

}
#leadIn { 
  width: 100px;
  height: 309px;
  position: absolute;
  top: 0px;
  left: 90px;
  background: #F1F4ED;
}
  #leadIn ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
  }
    #leadIn .leadbar { 
      margin-top: 60px;
      background: #E4E7DC;;
      height: 48px;

    }
    #leadIn ul li {
      width: 98px;
      margin-bottom:1px;
      height: 39px;
    }
      #leadIn ul li i {
        display: block;
        width: 100px;
        height: 39px;
        background: url('../img/cambrands.png') transparent;
      }
    #leadIn ul li.apple {
      background: #B2B2B2;
    }
    #leadIn ul li.apple i { background-position:  0 45px; }
    #leadIn ul li.nikon i { background-position:  0 263px; }
    #leadIn ul li.canon i { background-position:  0 145px; }
    #leadIn ul li.canon {
      background: #F00;
    }
    #leadIn ul li.nikon {
      background: #F0C62D;
    }
.ranking {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  z-index: 1000;
  list-style: none;
  top: 108px;
  left: 48px;
}
  .ranking li {
    background: #F4F6F1;
    margin: 0px 1px 0 1px;
    width: 35px;
    height:39px;
    vertical-align: middle;
    line-height: 40px;
    text-align: left;
    padding-left: 5px;
    color: #BAC2AE;
    opacity: 0.8;
    font-size:32px;
    font-weight:bold;
    border: 1px solid #E2E8DA;
    border-width: 1px 1px 0px 1px;
  }
#chart {
    padding: 0px 0px 20px 0px;
    margin-left: 0px;
    width: 100%;
    _width: 500px;
    overflow: auto;
    clear: left;
    position: relative;
}
#chart svg
{
  position: relative;
  margin-left: 190px;
  background: #ECECEC;
}
  #chart text{ 
  }
  #chart tspan{
  } 
  #chart tspan:hover {
  }
.invisible {
    visibility: hidden;
}
.hidden {
    display: none;
}
#legend,
#legend2 {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 1em;
    height: 1em;
    border: solid 1px #000;
    margin-right: .3em;
    line-height: 1;
}
#name, 
#name2 {
    float: left;
    clear: left;
}
#name div,
#name2 div {
    float: left;
}
#placeholder {
    clear: left;
    color: #999;
}
